<div id="lcb-maths" class="modal fade" data-backdrop=true>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <i class="icon-cogs"></i> <$ __('Account Settings') $>
                </h4>
            </div>
            <div class="modal-body">
                <form role="form" action="#!/rooms/add" class="lcb-rooms-add">
                    <p>Type math here: <span id="math-field"></span></p>
                    <p>LaTeX of what you typed: <span id="latex"></span></p>

                    <script>
                        var mathFieldSpan = document.getElementById('math-field');
                        var latexSpan = document.getElementById('latex');

                        var MQ = MathQuill.getInterface(2); // for backcompat
                        var mathField = MQ.MathField(mathFieldSpan, {
                            spaceBehavesLikeTab: true, // configurable
                            handlers: {
                                edit: function () { // useful event handlers
                                    latexSpan.textContent = mathField.latex(); // simple API
                                }
                            }
                        });
                    </script>
                </form>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
