<div id="lcb-maths" class="modal fade" data-backdrop=true>
    <div class="modal-dialog">
        <div class="modal-content">


            <form  role="form"  class="validate form-horizontal lcb-maths">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-edit"></i> <$ __('Giphy') $></h4>
                </div>
                <div class="modal-body">
                    <p>Type math here: <span id="math-field"></span></p>
                    <p>LaTeX of what you typed: <input id="latex"/></p>

                    <script>
                        var mathFieldSpan = document.getElementById('math-field');
                        var latexSpan = document.getElementById('latex');

                        var MQ = MathQuill.getInterface(2); // for backcompat
                        var mathField = MQ.MathField(mathFieldSpan, {
                            spaceBehavesLikeTab: true, // configurable
                            handlers: {
                                edit: function () { // useful event handlers
                                    latexSpan.value = mathField.latex(); // simple API
                                }
                            }
                        });
                    </script>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><$ __('Cancel') $></button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><$ __('Enter') $></button>
                </div>
            </form>


        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
